@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;    
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
@media screen and (min-width: 320px)  and (max-width:1023px){
    body{
        background:url(https://fondosmil.com/fondo/530.jpg);
        }
        .cont{
            display: flex;
            justify-content: center;   
            margin: 1rem; 
        }
        .caja4{    
            text-align: center;
            background: #093028;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #237A57, #12473d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
            border-radius: 20px;
            width: 75%;
            height: 26rem;
            margin-bottom: 6rem;       
            padding: 2rem;
        }
        
        p{
            font-size: 22px;
            font-weight: bold;
            color: black;
        }
        
        #listan{
            width: 95%;
            height: 40px;
            font-size: 20px;
        }
        #listap{
            width: 95%;
            height: 40px;
            font-size: 20px;
        }
        #listam{
            width: 95%;
            height: 40px;
            font-size: 20px;
        }
        #enviar{
            height: 40px;
            width: 90%;
            font-size: 20px;
        }
}

@media screen and (min-width:1024px ){
/*/Ejercicio 1/*/
body{
background:url(https://fondosmil.com/fondo/530.jpg);
}
.cont{
    display: flex;
    justify-content: center;    
}
.caja4{    
    text-align: center;
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #12473d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    width: 55%;
    height: 30rem;
    margin-top: 5rem;       
    padding: 2rem;
}

p{
    font-size: 42px;
    font-weight: bold;
    color: black;
}

#listan{
    width: 45%;
    height: 50px;
    font-size: 20px;
}
#listap{
    width: 45%;
    height: 50px;
    font-size: 20px;
}
#listam{
    width: 45%;
    height: 50px;
    font-size: 20px;
}
#enviar{
    height: 40px;
    width: 25%;
    font-size: 20px;
}

}